
*{
    box-sizing: border-box;
    margin: 0;
    padding: 50;
    border: 50;
    outline: 0;
    background-color: rgb(0, 0, 0);
}

.card {
    border: 2px solid rgb(0, 0, 0);
    flex-basis: 80%;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    color: rgb(201, 198, 206)
}


footer{
    color: rgb(187, 190, 193);

}

a:hover{
    color: gold;
}

p{
    font-style: italic;
}
